services:
  opencode:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: ${OC_UID}
        USER: ${OC_USER}
    network_mode: "service:network-filter"
    restart: unless-stopped
    user: "${OC_UID}:${OC_UID}"
    volumes:
      - home:/home/${OC_USER}
      - ~/developer:/home/${OC_USER}/developer
      - ~/.ssh:/home/${OC_USER}/.ssh:ro
    depends_on:
      - network-filter
  network-filter:
    image: monadicalsas/network-filter:latest
    restart: unless-stopped
    ports:
      - "4096:4096"
    cap_add:
      - NET_ADMIN
    environment:
      - ALLOWED_DOMAINS=github.com:22:443,api.github.com,search.maven.org,maven.apache.org,repo.maven.apache.org,repo1.maven.org,api.openai.com,models.dev,registry.npmjs.org,release-assets.githubusercontent.com,opencode.ai,api.githubcopilot.com,production-global-management-eu-west-1-static-packages.s3.eu-west-1.amazonaws.com,packages.confluent.io,repo.spring.io,oss.sonatype.org,maven-central.storage-download.googleapis.com,fastdl.mongodb.org,maven.repository.redhat.com,maven.repository.redhat.com,repository.hazelcast.com,playwright.download.prss.microsoft.com,cdn.playwright.dev,raw.githubusercontent.com,github-cloud.githubusercontent.com,auth.openai.com,chatgpt.com
    networks:
      - oc_network

volumes:
  home:

networks:
  oc_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.0.0/16
